.tablet {
  background-color: var(--light-gray-cyan-tablets);
  border: none;
  border-radius: var(--tablets-radius);
  color: var(--desaturated-dark-cyan);
  padding: 4px 8px;
  font-weight: 700;
}

.tablet--label {
  border-radius: none;
  border-top-left-radius: var(--tablets-radius);
  border-bottom-left-radius: var(--tablets-radius);
}

.tablet:not(.tablet--label):is(:hover, :focus, :active) {
  background-color: var(--desaturated-dark-cyan);
  color: white;
  cursor: pointer;
}
